<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <table border="1">
      <tr>
         <th>회원번호</th>
         <th>회원아이디</th>
         <th>회원나이</th>
      </tr>

      <tr th: object="${user}">
         <th th:text="*{userNo}"></th>
         <th th:text="*{userId}"></th>
         <th th:text="*{userName}"></th>
         <th th:text="*{userAge}"></th>

      </tr>

   </table>

</body>
</html>