<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회 성공</title>
</head>
<body>
    <h1>게시글 검색 결과</h1>

    <table border="1">
        
        <tr>
            
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>내용</td>
            <td>조회수</td>
            <td>작성날짜</td>  

        </tr>

        <tr th:object="*{Board}">
        
            <for:each>

                
                <td th:text="${boardNo}"></td>
                <td th:text="${boardTitle}"></td>
                <td th:text="${userId}"></td>
                <td th:text="${boardContent}"></td>
                <td th:text="${boardReadCount}"></td>
                <td th:text="${boardDate}"></td>
            </for:each>

        </tr>




    </table>



    </form>
    
</body>
</html>