<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="../Fiesta/application-form.css">
</head>
<body>
   <section class="frame">

      <div class="signup-area">
         <h1>입점 신청</h1>
      </div> 
      <div class="signup-page">

         <form action="classification">
            
           
               대표구성
     

            <span class="company-radio"> 회사 
               <input type="radio" value=""> 
            </span>

            <span class="indi-radio"> 개인
               <input type="radio">   
            </span>

         </form>

            <!-- 대표자 명 -->
            <form class="ceo"> 
               <div class="input-ceo-name">     
                     <input type="text" placeholder="대표자 명">

               </div>
            </form>


             <!-- 상호 -->
             <form class="company-name"> 
               <div class="input-company-name">
                  <input type="text" placeholder="상호">
               </div>
            </form>


            <form class="company-address"> 
               <div class="input-company-address">
                  <input type="text" placeholder="사업장 주소">
                  <button class="address">주소 찾기</button>
               </div>
            </form>

            <form class="address-detail-form"> 
               <div class="input-address-detail">
                  <input type="text" placeholder="상세 주소">
               </div>
            </form>

            <form class="nickname-form"> 
               <div class="input-nickname">
                  <input type="text" placeholder="담당자 명">

               </div>
            </form>


            <form class="manager-number"> 
               <div class="input-manager-number">
                  <input type="text" placeholder="담당자 번호 입력">

               </div>
            </form>
               
            <form class="checkout-area">

               <button type="submit" class="checkOut-btn">제출</button>

            </form>

         </div>
               


            


            

         
         
      </div>
      
      
   </section>

</body>
</html>