<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script src="https://kit.fontawesome.com/d6c32512de.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../Fiesta/cart2.css">

</head>
<body>
   <section class="frame">

      <div class="content">

         <div class="cart-area">
            <h1 class="cart">CART</h1>
         </div>

         <!-- <div class="cart-list"> -->

            <div class="select-all">
               <i class="fa-regular fa-circle-check" style="color: rgb(0, 229, 255);"></i>
               <span>해당 상품 전체 선택</span>
            </div>

            <div class="item-list">

               <!-- 개별 상품 체크 -->
               <div class="select-item">
                  <i class="fa-regular fa-circle-check" style="color: rgb(0, 229, 255);"></i>
               </div>

               <!-- 이미지 영역 -->
               
                  <img src="/src/main/resources/static/images/a80225826d059c10c3deca6b52aa809d.png" alt="">
               

                  <!-- <div class="item-name"> -->
                     <a href="" class="keyring">뉴진스 키링</a>
                  <!-- </div> -->
   
                  <div>
                     <span class="item-option">옵션 : BLACK</span>
                  </div>
               
               <!-- 상품 수량 + & -  -->
             

               <!-- 개별 상품 가격 -->
               

               <!-- 개별 상품 취소 -->
               <!-- <i class="fa-solid fa-xmark" style="color: rgb(199, 199, 199);"></i>
            
               
               <div item-info>
                  <i class="fa-solid fa-minus"></i>
                  <span>3</span>
                  <i class="fa-solid fa-plus"></i>
                  
                  <span style="font-weight: bold;">$132</span>
               </div> -->
            </div>

            <div class="item-amount">
                  <i class="fa-solid fa-xmark" style="color: rgb(199, 199, 199);"></i>
            
                  <div item-info>

                     <div class="amount">
                        <i class="fa-solid fa-minus"></i>
                        <span>3</span>
                        <i class="fa-solid fa-plus"></i>
                     </div>
                     
                     <span class="amount-price" style="font-weight: bold;">$132</span>
                  </div>

            </div>
            
            <div class="item-list">

               <!-- 개별 상품 체크 -->
               <div class="select-item">
                  <i class="fa-regular fa-circle-check" style="color: rgb(0, 229, 255);"></i>
               </div>

               <!-- 이미지 영역 -->
               
                  <img src="/src/main/resources/static/images/8a1f068d850f1a6f01da58f02af3068c.png" alt="">
               

               
                  <a href="" class="keyring">LE SSERAFIM</a>
                  <span class="option">옵션 : BLACK</span>
               
            
            </div>

            <div class="item-amount">
               <i class="fa-solid fa-xmark" style="color: rgb(199, 199, 199);"></i>
         
               <div item-info>

                  <div class="amount">
                     <i class="fa-solid fa-minus"></i>
                     <span>1</span>
                     <i class="fa-solid fa-plus"></i>
                  </div>
                  
                  <span class="amount-price" style="font-weight: bold;">$100</span>
               </div>

         </div>


            

                     
            <div class="total">
               <span>총 결제 금액</span>

               <div class="sc-e98633bc-7 iUJKwp">$15.58</div>

               <button type="submit" class="checkOut-btn">결제하기</button>

            </div>
            
                  </div>
            
         
   </section>
</body>
</html>
