<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script src="https://kit.fontawesome.com/d6c32512de.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../Fiesta/checkout2.css.css">

</head>
<body>
   <section class="frame">

      <div class="content">

         <div class="cart-area">
            <h1 class="cart">CHECKOUT</h1>
         </div>

         <!-- <div class="cart-list"> -->

         <div class="select-all">
            <span>주문 상품</span>
         </div>

            <!-- 상품 1개 개별 영역 -->
         <div class="item-list">

               <!-- 1번 -->

               <!-- 이미지 영역 -->
               
            <img src="/src/main/resources/static/images/a80225826d059c10c3deca6b52aa809d.png" alt="">
                  
                  <!-- 제품 상세 -->

            <div class="item-text">

               <div class="item-name">
                  <a href="" class="keyring">뉴진스 키링</a>
               </div> 

               <div>
                  <span class="item-option">옵션 : BLACK</span>
               </div>

            </div>

            <!-- 상품 수량 -->
               
            <span class="item-amount">수량: 3</span>
             
            <!-- 개별 상품 가격 -->
            <span class="item-price" style="font-weight: bold;">$132</span>

         </div>



            <!---------- 상품 2번 ---------->

            <div class="item-list">
               <!-- 이미지 영역 -->
               
               <img src="/src/main/resources/static/images/8a1f068d850f1a6f01da58f02af3068c.png" alt="">
                  
                  <!-- 제품 상세 -->

                  <div class="item-text">

                    <div class="item-name">
                       <a href="" class="keyring">LE SSERAFIM</a>
                    </div> 

                    <div>
                       <span class="item-option">옵션 : BLACK</span>
                    </div>

                  </div>

               <!-- 상품 수량 + & -  -->
               
               <span class="item-amount">수량: 3</span>
             
               <!-- 개별 상품 가격 -->
               <span class="item-price" style="font-weight: bold;">$132</span>

            </div>

            <!-- ----------------------------------------------------------------------- -->


            <div class="check-list">

                  <!-- 총 상품 가격 -->
                  
                  <div>
                     <span class="check-price">총 상품 가격(2장)</span>
                     <span class="check-total" style="font-weight: bold;">$132</span>
                  </div>
                  
                        <!-- 개별 상품 가격 -->
              

            </div>



           
               <div class="order-list">

                     <span class="order-name" style="font-weight: bold;">주문자</span>

                     <button class="name-btn">변경</button>


                     <div class="order-input">

                        <div class="name-input-area">
                           주문자 명
                           <div class="name-input">
                              <input type="text">
                           </div>
                        </div>

                        <div class="phonenumber-input-area">
                           전화번호
                           <div class="phonenumber-input">
                              <input type="text"> 
                           </div>
                        </div>

                     </div>
                        
               </div>
                     

         
 

               <div class="order-list">

                  <span class="order-name" style="font-weight: bold;">배송지</span>

                  <button class="name-btn">변경</button>


                  <div class="order-input">

                     <div class="name-input-area">
                        도로주소 & 지번
                        <button class="name-btn">주소 찾기</button>
                     <div class="name-input">
                           <input type="text">
                        </div>
                     </div>

                     <div class="phonenumber-input-area">
                        상세주소
                        
                        <div class="phonenumber-input">
                           <input type="text"> 
                        </div>
                     </div>

                  </div>
                     
            </div>
                  

         <div class="price-detail">
            
            <!-- <div class="detail"> -->
               <span class="detail-price" style="font-weight: bold;">결제 금액</span>

                  <div class="detail">
                     <span class="product-price">상품 가격 </span> <span>100$</span>

                      <div class="shipping-price">배송비
                        <span>12$</span>
                      </div>
                  </div>

         </div>





         <!-- 총 상품 가격 -->
       

   
                
               <!-- 상품 수량 + & -  -->

               <!-- 개별 상품 취소 -->


            

                     
            <div class="total">
               <span>총 결제 금액</span>

               <div class="sc-e98633bc-7 iUJKwp">$15.58</div>
            </div>

            
               <!-- 결제 수단 -->
               <div class="payment-method">
                     <span class="ass" style="font-weight: bold;">결제 수단</span>

                     <div class="method">

                        <div class="kakao">
                           <div>
                              카카오 페이
                           </div>

                           <div>
                              <span> <i class="fa-regular fa-circle"></i> </span>
                           </div>
                              <span> <img class="kakaopay" src="/src/main/resources/static/images/카카오페이.png" alt=""> </span>
                              
                        </div>
                           
                          
<!--                           
                        </div> -->

                        <div class="credit-card">
                           <div>
                              신용카드
                           </div>

                           <div>
                              <span> <i class="fa-regular fa-circle"></i> </span>
                           </div>
                              
                           <img class="visa" src="/src/main/resources/static/images/imageImgCardVisa@3x.png" alt="">
                              
                        </div>
                     
                        <div class="cash">
                           무통장 입금
                        </div>

                     </div>
                     
                  </div>

                  <div class="tou"> 유의사항 및 이용약관
                     <li>
                        이용가능 카드사 : 모든 국내 신용/체크카드
                     </li>

                     <li>
                        주문 상품 정보, 가격, 배송, 반품, 교환, 환불 정책에 동의
                     </li>
                  </div>

                  <div class="checkout-area">

                     <button type="submit" class="checkOut-btn">결제하기</button>

                  </div>
      </div>

               
         
   </section>
</body>
</html>
