@font-face{
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400; 
   font-style: normal;
}

* {
   box-sizing: border-box;
   font-family: 'Pretendard-Regular';
}

* input {
   font-size: 14px;
   border: 1px solid rgb(173, 177, 184);
   outline-color: rgb(69, 106, 227);
   border-radius: 4px;
   width: 320px !important;
   height: 34px !important;
}

.frame {
   width: 1400px;
   min-height: 600px;
   margin:auto;
   padding: 150px;
   position: relative;
}

h1 {
   display: block;
   font-size: 28px;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   
}

.select-all{
   font-size: 14px;
   margin-top: 80px;
   border-bottom: solid rgb(217, 217, 217) 1px;
   padding: 15px 0px;
   align-items: center;
}

.select-all > span{
   margin-left: 32px;
}

.item-list{
   font-weight: 500;
   font-size: 14px;
   height: 120px;
    /* display: flex; */
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-bottom: solid rgb(217, 217, 217) 1px;
}

.item-name > a{
   text-decoration: none;
   font-size: 14px;
   color: black;
}
.item-name{
   margin-left: 10px;
   position: absolute;
   top: 10px;
}

.item-option{
   margin-left: 10px;
   margin-top: 2px;
   top: 30px;
   position: absolute;
   font-size: 14px;
   color:rgb(217, 217, 217);
}



.item-amount{
   top: 10px;
   position: absolute;
   right: 250px;  
}

.item-price{
   top: 10px;
   position: absolute;
   right: 8px;
}

.item-list>.item-text {
   display: inline-block;
   align-items: flex-start;
}

.check-list{
   height: 58px;
   margin: 20px 0 88px 6px;
   position: relative;
   font-size: 16px;
}

.check-price{
   font-size: 14px;
   margin-left: 12px;
}

.check-total{
   position: absolute;
   right: 8px;
}



.order-list{
   margin: 32px 0 32px 16px;
   /* border-bottom: solid rgb(217, 217, 217) 1px; */
}

.order-list > .order-name{
   font-size: 18px;
   font-weight: 700;
}

.shipping-list > .shipping-name{
   font-size: 18px;
   font-weight: 700;

}

.order-input{
   font-size: 14px;
   margin-top: 44px;
}


.name-input > input{
   width: 120px;
   height: 40px;
}


.name-input{
   margin: 10px 0 0 0;
}


.phonenumber-input > input{
   height: 24px;
}
.phonenumber-input{
   margin: 10px 0 0 0;
}

.shipping-list{
   
   margin: 80px 0 32px 16px;

   /* border-bottom: solid rgb(217, 217, 217) 1px; */
}

.shipping-input{
   margin-top: 44px;
}

.address-input > input{
   width: 280px;
   height: 24px;

   margin: 10px 0 0 0;
}

.phonenumber-input-area{
   margin-top: 32px;
}

.address-detail > input{
   width: 280px;
   height: 24px;
   margin: 10px 0 0 0;
}

.input-detail > input {
   height: 24px;
}

.input-detail{
   margin-top: 6px;
   margin-bottom: 32px;
}

.address-detail{
   width: 280px;
   margin: 32px 0 0 0; 
}

.name-btn{
   margin: 0 0 0 6px;
   border-radius: 4px;
    transition: all 300ms ease 0s;
    appearance: none;
    background: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 28px;
    font-size: 14px;
    border: 1px solid rgb(173, 177, 184);
    color: rgb(135, 142, 150);
    width: auto;
    display: inline-flex;
}

.shipping-btn{
   margin: 0 0 0 6px;
   border-radius: 4px;
    transition: all 300ms ease 0s;
    appearance: none;
    background: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 28px;
    font-size: 14px;
    border: 1px solid rgb(173, 177, 184);
    color: rgb(135, 142, 150);
    width: auto;
    display: inline-flex;
}

.address-btn{
   margin: 0 0 0 6px;
   border-radius: 4px;
    transition: all 300ms ease 0s;
    appearance: none;
    background: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 28px;
    font-size: 14px;
    border: 1px solid rgb(173, 177, 184);
    color: rgb(135, 142, 150);
    width: auto;
    display: inline-flex;
}

.price-detail{

   position: relative;
   margin: 100px 0 0 16px;
}

.detail{
   right: 0;
   top: 70px;
   position: absolute;
}

.price-detail > span{
   right:0;
}

.item-list>img{
   border-radius: 4px;
   width: 118px;
   height: 118px;
   object-fit: cover;
}


.total{

   margin-top: 100px;

   background-color: rgb(255, 254, 237);
   padding: 20px;
   display: flex;
   -webkit-box-pack: justify;
   /* justify-content: space-between; */
   align-items: center;
   font-weight: 700;
   font-size: 20px;
   border-bottom: solid rgb(217, 217, 217) 1px;
}


.total > div{
   letter-spacing: -1.2px;
}

.sc-e98633bc-7 {
   position: absolute;
   right: 174px;
}

.total > div{
   letter-spacing: -1.2px;
}

.sc-e98633bc-7 {
   position: absolute;
   right: 128px;
}

.checkOut-btn {

border-radius: 4px;
    transition: all 300ms ease 0s;
    margin: 0px;
    appearance: none;
    background: none rgb(227, 69, 224);
    border: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    --horizontal-padding: 1.8rem;
    color: rgb(255, 255, 255);
    width: auto;
    display: inline-flex;
    padding: 0 var(--horizontal-padding);

}

.payment-method{

   margin: 32px 0 0 16px;
   height: 80px;
   -webkit-box-align: center;
   align-items: center;
   position: relative;
   border-bottom: solid rgb(217, 217, 217) 1px;

}

.method{
   margin-top: 10px;
   height: 50px;
   align-items: center;
   position: relative;
   padding-top: 30px;
}

.method>div{
   margin-top: 0px;
   height: 80px;
   border-bottom: solid rgb(217, 217, 217) 1px;
}

.kakaopay{
   height: 22px;
}

.visa{
   height: 32px;
}

.tou{
   margin: 12px 0 0 16px;
   font-size: 14px;
}
.checkout-area{
   margin-top: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.checkOut-btn{
   border-radius: 4px;
    transition: all 300ms ease 0s;
    margin: 0px;
    appearance: none;
    background: none rgb(227, 69, 224);
    border: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    --horizontal-padding: 1.8rem;
    color: rgb(255, 255, 255);
    width: auto;
    display: inline-flex;
    padding: 0 var(--horizontal-padding);
}

