@font-face{
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400; 
   font-style: normal;
}

* {
   box-sizing: border-box;
   font-family: 'Pretendard-Regular';
}

.frame {
   width: 1100px;
   min-height: 600px;
   margin:auto;
   padding: 100px;
   position: relative;
}

h1 {
   display: block;
   font-size: 28px;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   
}

.select-all{
   font-size: 14px;
   margin-top: 80px;
   border-bottom: solid rgb(217, 217, 217) 1px;
   padding: 15px 0px;
   align-items: center;

}

.select-all > span{
   margin-left: 46px;
}

.item-list{
   font-size: 14px;
   height: 142px;
    /* display: flex; */
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-bottom: solid rgb(217, 217, 217) 1px;
}

.item-name{
   margin-left: 10px;
   position: absolute;
   top: 10px;
}

.item-option{
   margin-left: 10px;
   margin-top: 2px;
   top: 30px;
   position: absolute;
   font-size: 14px;
   color:rgb(217, 217, 217);
}

.item-name > a{
   text-decoration: none;
   font-size: 14px;
   color: black;
}

.item-amount{
   top: 10px;
   position: absolute;
   right: 250px;  
}

.item-price{
   top: 10px;
   position: absolute;
   right: 8px;
}

.item-list>.item-text {
   display: inline-block;
   align-items: flex-start;
}

.check-list{
   height: 58px;
   margin-top: 10px;
   border-bottom: solid rgb(217, 217, 217) 1px;
   position: relative;
   font-size: 16px;
}

.check-price{
   font-size: 16px;
   margin-left: 4px;
}

.check-total{
   position: absolute;
   right: 8px;
}

.order-list{
   height: 100px;
   margin: 10px 0 0 4px;
   border-bottom: solid rgb(217, 217, 217) 1px;
}

.order-input{
   font-size: 14px;
}

.name-input-area{
   margin-bottom: 6px;
}

.name-input{
   margin: 6px 0 0 0;
}

.phonenumber-input{
   margin: 6px 0 0 0;
}
.order-input{
   margin-top: 20px;
}

.address-input > input{
   width: 280px;
   margin: 6px 0 0 0;
}

.address-detail > input{
   width: 280px;
   margin: 6px 0 0 0;
}

.address-detail{
   width: 280px;
   margin: 6px 0 0 0;
}
.name-btn{
   margin: 0 0 0 6px;
   border-radius: 4px;
    transition: all 300ms ease 0s;
    appearance: none;
    background: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 24px;
    font-size: 14px;
    border: 1px solid rgb(173, 177, 184);
    color: rgb(135, 142, 150);
    width: auto;
    display: inline-flex;
}

.price-detail{
   height: 80px;
   position: relative;
   margin: 10px 0 0 4px;
   border-bottom: solid rgb(217, 217, 217) 1px;


}

.detail{
   position: absolute;
   right: 10px;
}

.price-detail > span{
   right:0;
}

.item-list>img{
   width: 140px;
   height: 140px;
   object-fit: cover;
}

.total {
   background-color: rgb(255, 254, 237);
   height: 80px;
   padding: 30px;
   display: flex;
   -webkit-box-pack: justify;
   justify-content: space-between;
   align-items: center;
   font-weight: 700;
   font-size: 18px;
   border-bottom: solid rgb(217, 217, 217) 1px;

}

.checkOut-btn {

border-radius: 4px;
    transition: all 300ms ease 0s;
    margin: 0px;
    appearance: none;
    background: none rgb(227, 69, 224);
    border: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    --horizontal-padding: 1.8rem;
    color: rgb(255, 255, 255);
    width: auto;
    display: inline-flex;
    padding: 0 var(--horizontal-padding);

}

.payment-method{

   margin: 10px 0 0 4px;
   height: 300px;
   -webkit-box-align: center;
   align-items: center;
   position: relative;
   border-bottom: solid rgb(217, 217, 217) 1px;

}

.method{
   margin-top: 10px;
   height: 50px;
   align-items: center;
   position: relative;
   padding-top: 30px;
}

.method>div{
   margin-top: 0px;
   height: 80px;
   border-bottom: solid rgb(217, 217, 217) 1px;
}

.kakaopay{
   height: 22px;
}

.visa{
   height: 32px;
}

.tou{
   margin: 10px 0 0 4px;
   font-size: 12px;
}
.checkout-area{
   margin-top: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.checkOut-btn{
   border-radius: 4px;
    transition: all 300ms ease 0s;
    margin: 0px;
    appearance: none;
    background: none rgb(227, 69, 224);
    border: none;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    --horizontal-padding: 1.8rem;
    color: rgb(255, 255, 255);
    width: auto;
    display: inline-flex;
    padding: 0 var(--horizontal-padding);
}

