<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>회원가입</title>
    <link rel="stylesheet" href="signup.css" />
  </head>
  <body>
    <div class="container">
      <div class="member-container">
        <div class="header">
        </div>
        <div class="user-info">
            
          <div id="email">* 이메일</div>
          <div>* 이름</div>
          <div>* 비밀번호</div>
          <div>* 비밀번호 확인</div>
        </div>
        <div class="gender">
          <input type="radio" name="gender" />
          <label for="women">여성</label>
          <input type="radio" name="gender" />
          <label for="men">남성</label>
        </div>
        <div class="agree-check">
          <input type="checkbox" /> 
        </div>
        <div class="btn">
          <button>가입하기</button>
        </div>
      </div>
    </div>
  </body>
</html>