<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <link rel="stylesheet" href="/css/main.css" />
    <th:block th:replace="~{common/common}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>
    <main>
      <section>
        <div class="mainTag">쇼츠</div>
        <div>
          <div class="add">더보기</div>
          <div class="mainVideo">
            <a href="#" class="video-a">
              <video src="IMG_5988.MOV.mp4" width="220px" height="320px" controls></video>
              <div id="video-kdb">(오운완)벤치프레스 자세 교정 / 꿀팁ㅁㄴㅁㄹㄴㅁ</div>
            </a>
            <a href="#" class="video-a">
              <video src="IMG_5988.MOV.mp4" width="220px" height="320px" controls></video>
              <div id="video-kdb">(오운완)벤치프레스 자세 교정 / 꿀팁ㅁㄴㅂㅈㄷㅊㅌ</div>
            </a>
            <a href="#" class="video-a">
              <video src="IMG_5988.MOV.mp4" width="220px" height="320px" controls></video>
              <div id="video-kdb">(오운완)벤치프레스 자세 교정 / 꿀팁ㅁㄴㅂㅈㄷㅊㅌ</div>
            </a>
            <a href="#" class="video-a">
              <video src="IMG_5988.MOV.mp4" width="220px" height="320px" controls></video>
              <div id="video-kdb">(오운완)벤치프레스 자세 교정 / 꿀팁ㅁㄴㅂㅈㄷㅊㅌ</div>
            </a>
            <a href="#" class="video-a">
              <video src="IMG_5988.MOV.mp4" width="220px" height="320px" controls></video>
              <div id="video-kdb">(오운완)벤치프레스 자세 교정 / 꿀팁ㅁㄴ</div>
            </a>
          </div>
        </div>
      </section>
      <section>
        <section class="secCumu">
          <div class="mainTag">커뮤니티</div>
          <div class="add">더보기</div>
          <div class="list">
            <table class="list-table">
              <tbody>
                <tr>
                  <td>[운동 방법]</td>
                  <td>헬스선배님들 질문있습니다</td>
                  <td>작성일</td>
                </tr>
                <tr>
                  <td>[운동 방법]</td>
                  <td>헬스선배님들 질문있습니다</td>
                  <td>작성일</td>
                </tr>
                <tr>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2</td>
                </tr>
                <tr>
                  <td>3</td>
                </tr>
                <tr>
                  <td>4</td>
                </tr>
                <tr>
                  <td>5</td>
                </tr>
                <tr>
                  <td>6</td>
                </tr>
                <tr>
                  <td>7</td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="secCumu">
          <div class="mainTag">지식인</div>
          <div class="add">더보기</div>
          <div class="list">
            <table class="list-information">
              <tbody>
                <tr>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </section>
    </main>
    <th:block th:replace="~{common/common}"></th:block>
  </body>
</html>