*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

div, main, header, footer, section, article, nav, aside, form
{border : 1px solid black;}  */

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* min-height 화면이 아무리 작아져도 100vh만큼 높이를 지정(축소불가) */
   /* max-height 화면이 아무리 커져도 100vh만큼 높이를 지정(확대불가) */
   min-height: 100vh;
}  

main{
   width: 1280px;
   flex-grow: 1; /* 중심축 방향 팽창 비율, main이 화면을 계속 차지하면서 footer를 밑으로 이동시킴 */
   min-height: 500px;
}
/* --------------------------------------header---------------------------------------------------- */
header{
   height: 72px;
   display: flex;

}


/* -------------------------------------- nav ------------------------------------------------------ */

nav{
   height: 50px;
   position: sticky; /* 화면을 벗어나도 특정 위치에 고정 */
   top: 0; /* 최상단에 위치 */

   background-color: white;
   z-index: 1000;
   border-bottom: solid black 1px;
}

nav > ul{
   display: flex;
   list-style: none;
   height: 100%;
}

nav li{
   flex: 0 1 50px; /* grow shrink basis 순서 */ 
}

nav a{
   text-decoration: none; /* 밑줄 제거 */
   color: black;
   font-size: 20px;
   font-weight: bold;
   padding: 20px 0; /* 상하 좌우*/
   display:  block; 
   text-align: center;

   height: 100%;
   border-radius: 5px;

   /* 요소 스타일 변경 시간 */
   transition-duration: 0.2s;
}

nav a:hover{
   background-color: #455ba8;
   color: white;
}


/*-------------------------------------- content ---------------------------------------------------- */

.content{
   font-size: 15px;
   min-height: 800px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: stretch; /* .content-1/2 세로 방향을 꽉차게 만든다. */
}
/* -------------------------------------.content-1 ------------------------------------------------ */
.content-1{
   width: 70%;
   padding: 20px;
}

.content-1 > * { margin-bottom: 20px;}

/* .content-2 */

.content-2{ width: 30%;}



/* 로그인 영역 */
.content-2 > form{
   height: 150px;
   padding: 10px;
   margin-top: 10px;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
}
